<!DOCTYPE html>
@{ 
    Layout = null;
}

@model Eji.SwimTrack.Web.Models.SwimSheetViewModel;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eji.SwimTrack.Web</title>

    <link href="~/css/mvc-grid.css" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid body-content">
        <div class="meetTitle bold">
            @Model.Title
        </div>
        <hr class="blue"/>
        <div class="meetSubtitle bold">
            @Model.SubTitle
        </div>
        @foreach (var groupedSwims in Model.Swims.GroupBy(s => s.SwimDate))
        {
            <table class="swimSheet">
                <thead>
                    <tr>
                        <th>Event Number</th>
                        <th>Event Name</th>
                        <th>Heat</th>
                        <th>Lane</th>
                        <th>Entry Time</th>
                        <th>Motivational<br/>Times</th>
                        <th>Final Result</th>
                        <th>Notes/Splits</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (SwimViewModel swim in groupedSwims)
                    {
                        <tr>
                            <td class="bold">@swim.EventNumber</td>
                            <td class="bold">@swim.Event</td>
                            <td>@swim.Heat</td>
                            <td>@swim.Lane</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <hr />
        <footer>
            <p>Generated @( DateTime.Now )</p>
        </footer>
    </div><environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bootstrap.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/mvc-grid.js"></script>
</body>
</html>
